    @charset "utf8";
    /* pagina principal*/
    ul#fotos_principal li span{
        opacity: 0;
        color: white;
        box-shadow: 1px 1px 1px black;
        background-color: rgb(0, 0, 0 .3);
        line-height: 270px;
        padding: 3px;
    
}
ul#fotos_principal{
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
    margin-top: -120px;
}
ul#fotos_principal li{
    float: left;
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 5px solid  white;
    background-color: white;
    box-shadow: 1px 1px 3px rgb(0,0,0.4);
}
ul#fotos_principal li :hover{
    opacity: 1;
}
ul#fotos_principal li.imagem01{
    background: url(../_imagens/faquer01.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 1200px 1600px;
    background-color: white;
}
ul#fotos_principal li.imagem01:hover{
    background-position: 0px 0px;
    background-size: 300px 300px;

}
ul#fotos_principal li.imagem02{
    background: url(../_imagens/miguel02.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 1200px 1600px;
    background-color: white;
}

ul#fotos_principal li.imagem02:hover{
    background-position: 0px 0px;
    background-size: 300px 300px;

}
ul#fotos_principal li.imagem03{
    background: url(../_imagens/valdez03.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 960px 1280px;
    background-color: white;

}
ul#fotos_principal li.imagem03:hover{
    background-position: 0px 0px;
    background-size: 300px 300px;

}